html, body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    height: 92%;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* ======================================================================================================= */
/* Header */

.container {
    background-color:#34343a;
    color: white;
    display: flex;
    justify-content: space-between;
}

.left-content {
    display: flex;
    flex: 1;
    align-items: center;
    text-align: center;
    gap: 30px;
    margin: 10px 20px;
}

.btc-content,
.gmt-content {
    line-height: 5px;
}

.price {
    font-size: 10px;
}

.coin-title {
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    font-size: 13px;
    font-weight: 200;
}

.BTC {
    background-color: #F7931A;
    border: 3px solid #F7931A;
}

.GMT {
    background-color: #7540ef;
    border: 3px solid  #7540ef;
}

.center-content {
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 900;
}

h1 {
    font-size: 50px;
    margin: 20px;
    text-align: center;
}

.right-content {
    display: flex;
    flex: 1;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
    margin: 10px 20px;
}

.connexion {
    font-family: "Inter", sans-serif;
    font-size: 13px;
    font-weight: 200;
    background-color: #7540ef;
    color: white;
    padding: 8px;
    border-radius: 5px;
    border: none;
}

button:hover {
    background-color: #70a837;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transform: scale(1.1);
    transition: transform 0.2s ease; 
    }
      
button:active {
    background-color: #7540ef;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

select {
    font-family: "Inter", sans-serif;
    font-size: 13px;
    background-color: #7540ef;
    color: white;
    font-weight: 200;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

select:focus {
    outline: none;
    box-shadow: none;
}

.fa-earth-europe {
    color: #2b7a78;
    font-size: 1.2rem;
    margin-right: 5px;
  }

  /* ===================================================================================================== */
/* Calculator-content */

  .content-container {
    background-color: #b3b3b5;
    display: flex;
    justify-content: space-between;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background-color: #34343a;
    color: white;
    border-radius: 10px;
    border: 10px solid #7540ef ;
   border-radius: 10px;
}

.calculator-container {
   display: flex;
   padding: 20px;
}

.calculator-options {
    font-size: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr; 
    gap: 10px 20px;
    align-items: center;
    max-width: 250px;
  }
  
.calculator-options input {
    width: 100px;
}  

p {
    margin: 0;
    padding: 0;
}

/* ======================================================================================================= */
/* switch Button */

.switch-container {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: "Inter", sans-serif;
    background: #34343a;
    padding: 20px 30px;
    border-radius: 10px;
}

.label {
    font-size: 10px;
    color: white;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position:absolute;
    cursor: pointer;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: #F7931A;
    transition: .4s;
    border-radius: 34px;
}

.slider::before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #7540ef ;
}

input:checked + .slider::before {
    transform: translate(24px);
}

/* ===================================================================================================== */
/* left and right content */

.gmt-left-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btc-right-content {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.gmt-icon {
    width: 200px;
    margin-left: 70px;
}

.btc-icon {
    width: 250px;
    margin-right: 70px;
}